<footer class="footer">
    <div class="footer-top b-lazy" data-src="./images/footer-1.png">
        <div class="wrapper">
            <div class="footer-top-content">
                <p>Мы предлагаем не просто оборудование для ограждения периметра, а комплексную защиту того, что Вам дорого!</p>
            </div>
        </div>
    </div>
    <div class="footer-middle b-lazy" data-src="./images/footer-2.png">
        <div class="wrapper">
            <div class="footer-middle-content">
                <div class="footer-middle-column footer-middle-column-1">
                    <a href="index.html" class="footer-middle-logo">
                        <img src="./images/logo-footer.svg" alt="svg">
                    </a>
                    <div class="footer-social">
                        <a href="#"><img src="./images/face.svg" alt="svg"></a>
                        <a href="#"><img src="./images/you.svg" alt="svg"></a>
                        <a href="#"><img src="./images/insta.svg" alt="svg"></a>
                        <a href="#"><img src="./images/linkedin.svg" alt="svg"></a>
                    </div>
                    <p>Следите за нами в соц. сетях</p>
                    <a href="mailto:fence@texha.com" class="info-link">
                        <span class="info-link__icon">
                            <img src="./images/email.svg" alt="image">
                        </span>
                        <span class="info-link__text">fence@texha.com</span>
                    </a>
                </div>
                <div class="footer-middle-column footer-middle-column-2">
                    <div class="footer-middle-nav">
                        <a href="#">О нас</a>
                        <a href="#">Производство </a>
                        <a href="#">Контакты</a>
                        <a href="#">Новости</a>
                        <a href="#">Карта сайта</a>
                    </div>
                    <div class="footer-middle-nav">
                        <a href="#">Конструктор ограждений</a>
                        <a href="#">Сотрудничество </a>
                        <a href="#">Наши каталоги</a>
                        <a href="#">Online-магазин</a>
                    </div>
                </div>
                <div class="footer-middle-column footer-middle-column-3">
                    <a href="mailto:fence@texha.com" class="info-link">
                        <span class="info-link__icon">
                            <img src="./images/email.svg" alt="image">
                        </span>
                        <span class="info-link__text">fence@texha.com</span>
                    </a>
                    <a href="#" class="btn btn-main btn-174 call-popup" data-popup="popuupCallback">
                        <span class="btn-cnt">Call back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-bottom-content">
                <p>©2021 All Rights Reserved</p>
                <a href="#">Створено <img src="./images/memo.png" alt="img"></a>
            </div>
        </div>
    </div>
</footer>