<div class="search-popup">
    <div class="wrapper">
        <div class="search">
            <form action="#">
                <input class="search-input" type="search" name="search" placeholder="Поиск">
                <button><span class="btn-cnt"><img src="./images/search-w.svg" alt="search-w"></span></button>
            </form>
        </div>
    </div>
</div>

<div id="popuupCallback" class="popup-wrapper">
    <div class="popup-layout">
        <div class="popup">
            <h3>Обратный <span><span>звонок</span></span></h3>
            <form action="#">
                <input class="form-field" type="text"  required placeholder="Имя">
                <input class="form-field tel-trigger" type="tel"  required placeholder="Номер телефона">
                <input class="form-field" type="email" required placeholder="Е-mail">
                <button class="btn btn-main submit-btn"><span class="btn-cnt">Заказать звонок</span></button>
            </form>
            <div class="popup-close"><img src="./images/close-btn.svg" alt="close"></div>
        </div>
    </div>
</div>