html, body {
    height: 100%;
    &.hidden {
        overflow: hidden;       
        transition: 0s ease !important;
    }
}



// fancybox

.fancybox-bg {
    background: rgba(43, 42, 42, 1);
}




.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    &-content {flex: 1 0 auto;}
    & footer {flex: 0 0 auto;}
}


.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1400px) {
        max-width: 1100px;
        padding: 0 40px;
    }
    @media (max-width: 767px) {
        padding: 0 20px;
    }
}

.section-block {
    padding: 70px 0 45px;
    @media (max-width: 1100px) {
        padding: 40px 0;
    }
}

.section-bg {
    background-image: 
        url('../images/tr-1.png'), url('../images/tr-2.png'), url('../images/tr-3.png'), url('../images/tr-4.png');
    background-size: 
        1920px 110px, 1920px 110px, 364px 575px, 265px 532px;
    background-repeat: 
        no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 
        top left, bottom left, top 401px left, top 383px right;
    @media (max-width: 1400px) {
        background-image: url('../images/tr-1.png'), url('../images/tr-2.png');
        background-size: 100% 72px, 100% 72px;
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom left;
    }
    @media (max-width: 767px) {
        background-size: 100% 35px, 100% 35px;
    }
    &-2 {
        background-image: 
        url('../images/tr-1.png'), url('../images/tr-2.png');
        background-size: 
            1920px 93px, 1920px 93px;
        background-repeat: 
            no-repeat, no-repeat;
        background-position: 
            top -30px left, bottom left;
        @media (max-width: 1400px) {
            background-image: url('../images/tr-1.png'), url('../images/tr-2.png');
            background-size: 100% 72px, 100% 72px;
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom left;
        }
        @media (max-width: 767px) {
            background-size: 100% 35px, 100% 35px;
        }
        & .section-bg-cnt {
            padding-top: 93px;
            padding-bottom: 150px;
            @media (max-width: 1400px) {
                padding-top: 40px;
                padding-bottom: 98px;
            }
            @media (max-width: 992px) {
                padding-top: 35px;
                padding-bottom: 65px;
            }
            @media (max-width: 767px) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
    }
    &-3 {
        & .section-bg-cnt {
            padding-top: 93px;
            padding-bottom: 150px;
            @media (max-width: 1400px) {
                padding-top: 40px;
                padding-bottom: 98px;
            }
            @media (max-width: 992px) {
                padding-top: 35px;
                padding-bottom: 65px;
            }
            @media (max-width: 767px) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
        &-1 {
            & .section-bg-cnt {
                @media (min-width: 1401px) {
                    padding-top: 93px;
                    padding-bottom: 93px;
                }
            }
        }
    }
    &-4 {
        background-image: 
        url('../images/tr-1.png'),  url('../images/tr-3.png'), url('../images/tr-4.png');
        background-size: 
            1920px 110px, 364px 575px, 265px 532px;
        background-repeat: 
            no-repeat, no-repeat, no-repeat;
        background-position: 
            top left, top 401px left, top 383px right;
        @media (max-width: 1400px) {
            background-image: url('../images/tr-1.png'), url('../images/tr-2.png');
            background-size: 100% 72px, 100% 72px;
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom left;
        }
        @media (max-width: 767px) {
            background-size: 100% 35px, 100% 35px;
        }
        & .section-bg-cnt {
            padding-top: 93px;
            padding-bottom: 44px;
            @media (max-width: 1400px) {
                padding-top: 40px;
            }
            @media (max-width: 992px) {
                padding-top: 35px;
            }
            @media (max-width: 767px) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
        &-1 {
            & .section-bg-cnt {
                @media (min-width: 1401px) {
                    padding-top: 93px;
                    padding-bottom: 93px;
                }
            }
        }
    }
    &-card {
        background-image: 
        url('../images/tr-2.png'),  url('../images/tr-3.png'), url('../images/tr-4.png');
        background-size: 
            1920px 110px, 364px 575px, 265px 532px;
        background-repeat: 
            no-repeat, no-repeat, no-repeat;
        background-position: 
            bottom left, top 401px left, top 383px right;
        @media (max-width: 1400px) {
            background-image: url('../images/tr-2.png');
            background-size: 100% 72px;
            background-repeat: no-repeat;
            background-position: bottom left;
        }
        @media (max-width: 767px) {
            background-size:  100% 35px;
        }
        & .section-bg-cnt {
            padding-top: 53px;
            padding-bottom: 70px;
            @media (max-width: 767px) {
                padding-top: 0;
                padding-bottom: 35px;
            }
        }
        & .breadcrumbs {
            margin-bottom: 36px;
            @media (max-width: 767px)  {
                margin-bottom: 15px;
            }
        }
    }
    &-cnt {
        padding-top: 39px;
        padding-bottom: 158px;
        @media (max-width: 1400px) {
            padding-top: 40px;
            padding-bottom: 98px;
        }
        @media (max-width: 992px) {
            padding-top: 35px;
            padding-bottom: 65px;
        }
        @media (max-width: 767px) {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
}



.info-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        min-width: 16px;
        margin-right: 10px;
        @media (max-width: 992px) {
            width: 14px;
            min-width: 14px;
        }
        @media (max-width: 767px) {
            width: 11px;
            min-width: 11px;
            margin-right: 5px;
        }
        & img {
            width: 100%;
            max-height: 16px;
        }
    }
    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 17px;
        color: $black;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 14px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 12px;
        }
    }
    &:hover {
        @media (min-width: 1201px) {
            & .info-link__text {
                color: $green;
            }
        }
    }
}


.link-select {
    position: relative;
    & span,
    & a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 17px;
        color: $black;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 14px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 12px;
        }
    }
    &-active {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        & span {
            margin-right: 8px;
            @media (max-width: 767px)  {
                margin-right: 3px;
            }
        }
        & svg {
            max-width: 7px;
            transition: 0.3s ease;
            & path {transition: 0.3s ease;}
        }
        @media (max-width: 767px) {
            min-height: 0;
        }
        @media (min-width: 1101px) {
            &:hover {
                & span {color: $green;}
            }
        }
    }
    &-hidden {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        z-index: 3;
        display: none;
        width: 100%;
        padding: 8px 3px;
        background-color: $white;
        border: 1px solid $green;
        border-radius: 5px;
        & a {
            display: block;
            text-align: center;
            color: $green;
            &:not(:last-child) {margin-bottom: 10px;}
            &:hover {color: $greendark;}
        }
    }
    &.active {
        & .link-select-active {
            & span {color: $green;}
        }
    }
}

.text-initial {
    text-transform: initial !important;
}

.title {
    margin-bottom: 60px;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
    color: #2B2A2A;
    transition: 0.3s ease;
    @media (max-width: 1400px)  {
        margin-bottom: 34px;
    }
    @media (max-width: 992px) {
        margin-bottom: 26px;
        font-size: 36px;
        line-height: 32px;
    }
    @media (max-width: 500px) {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 32px;
    }
    & > span {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: -22px;
            display: block;
            width: 46%;
            height: 8px;
            background-color: $green;
            @media (max-width: 992px) {
                bottom: -2px;
                right: -9px;
                width: 55%;
            }
            @media (max-width: 500px) {
                bottom: 4px;
                right: -8px;
                width: 57%;
            }
        }
        & span {
            position: relative;
            z-index: 2;
        }
    }
    & b {
        font-family: 'Inter ExtraBold';
        text-transform: uppercase;
    }
}

.mb-13 {
    margin-bottom: 13px;
}

.text-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
    @media (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
    &:not(:last-child) {
        margin-bottom: 41px;
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    & b {
        font-weight: 500;
    }
}

.title-m {
    margin-bottom: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 26px;
    }
}

.title-mm {
    margin-bottom: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    @media (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 22px;
    }
}

.title-ss {
    margin-bottom: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    color: #000000;
    @media (max-width: 767px) {
        font-size: 14px;
        line-height:  18px;
    }
    & > span {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            bottom: 6px;
            right: -12px;
            display: block;
            width: 66%;
            height: 8px;
            background-color: $green;
            @media (max-width: 767px) {
                bottom: 1px;
                right: -6px;
                width: 66%;
                height: 6px;
            }
        }
        & span {
            position: relative;
            z-index: 2;
        }
    }
}

.title-sm {
    margin-bottom: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    @media (max-width: 767px) {
        font-size: 16px;
        line-height:  22px;
    }
    & > span {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            bottom: 2px;
            right: -13px;
            display: block;
            width: 89%;
            height: 8px;
            background-color: $green;
            @media (max-width: 767px) {
                bottom: 2px;
                right: -5px;
                width: 70%;
                height: 6px;
            }
        }
        & span {
            position: relative;
            z-index: 2;
        }
    }
}

.paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
    @media (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
    &:not(:last-child) {
        margin-bottom: 28px;
        @media (max-width: 992px) {
            margin-bottom: 24px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}

.title-main {
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
    @media (max-width: 1400px)  {
        margin-bottom: 34px;
    }
    @media (max-width: 992px) {
        margin-bottom: 26px;
        font-size: 36px;
        line-height: 32px;
    }
    @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 32px;
    }
    & > span {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            bottom: 6px;
            right: -10px;
            display: block;
            width: 60%;
            height: 8px;
            background-color: $green;
            @media (max-width: 992px) {
                bottom: 1px;
            }
            @media (max-width: 767px) {
                bottom: 5px;
            }
        }
        & span {
            position: relative;
            z-index: 2;
        }
    }
}

.title-main-big {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000000;
    @media (max-width: 992px) {
        font-size: 36px;
        line-height: 32px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
    }
    & > span {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            bottom: 1px;
            right: -26px;
            display: block;
            width: 106%;
            height: 18px;
            background-color: $green;
            @media (max-width: 992px) {
                bottom: 0px;
                right: -11px;
                width: 79%;
                height: 8px;
            }
            @media (max-width: 767px) {
                bottom: 5px;
            }
        }
        & span {
            position: relative;
            z-index: 2;
        }
    }
}


a.title {
    &:hover {
        color: #000;
        @media (min-width: 1201px) {
            color: $green;
        }
    }
}

.text-center {
    width: 100%;
    text-align: center;
}

.color-white {
    color: white;
}

.more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: #6EB44A;
    @media (max-width: 992px) {
        font-size: 12px;
        line-height: 15px;
    }
    &:hover {
        color: #6EB44A;
        text-decoration: none;
    }
}

.form{
    &-field {
        display: block;
        padding: 0 23px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 38px;
        color: #8a8a8a;
        outline: none;
        box-shadow: none;
        border: none;
        background: #FAFAFA;
        border-radius: 0;
        border: 1px solid #FAFAFA;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            line-height: 33px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
        }
        &:hover,
        &:focus {
            border: 1px solid $green;
        }
        &::-webkit-input-placeholder {
            color: #AFAFAF;
        }
        &::-moz-placeholder {
            color: #AFAFAF;
        }
        &:-ms-input-placeholder { 
            color: #AFAFAF;
        }
        &:-moz-placeholder {
            color: #AFAFAF;
        }
        &.was-validate:invalid {
            border: 1px solid  red;
        }
        &-textarea {
            display: block;
            width: 100%;
            padding:11px 23px;
            min-height: 113px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #8a8a8a;
            outline: none;
            box-shadow: none;
            border: none;
            background: #FAFAFA;
            border-radius: 0;
            border: 1px solid #FAFAFA;
            transition: 0.3s ease;
            resize: none;
    
            @media (max-width: 767px) {
                font-size: 12px;
            }
            &:hover,
            &:focus {
                border: 1px solid $green;
            }
            &::-webkit-input-placeholder {
                color: #AFAFAF;
            }
            &::-moz-placeholder {
                color: #AFAFAF;
            }
            &:-ms-input-placeholder { 
                color: #AFAFAF;
            }
            &:-moz-placeholder {
                color: #AFAFAF;
            }
            &.was-validate:invalid {
                border: 1px solid  red;
            }
        }
        &.default {
            background: rgba(182, 182, 182, 0.06);
            color: rgba(138, 138, 138, 0.55) !important;
        }
    }
    &-checkbox {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        & input {
            display: none;
            &:checked ~ .form-checkbox-icon {
                background-color: $green;
                & img {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.was-validate:invalid ~ .form-checkbox-icon {
                border: 1px solid red;
            }
        }
        &-icon {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 13px;
            height: 13px;
            width: 13px;
            border: 1px solid $white;
            transition: 0.3s ease;
            background: none;
            background: $green;
            & img {
                width: 7px;
                height: 5px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease;
            }
        }
        &-text {
            margin-left: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 24px;
            color: #FFFFFF;
            transition: 0.3s ease;
            & a {
                transition: 0.3s ease;
                text-decoration: underline;
                &:hover {
                    color: $green;
                }
            }
        }
        &-dark {
            & .form-checkbox-icon {
                margin-top: 3px;
                background: #E6E6E6;
                border: 1px solid #E6E6E6;
                @media (max-width: 767px) {
                    margin-top: 2px;
                }
                & img {
                    width: 8px;
                }
            }
            & .form-checkbox-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.67);
                @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            & input {
                &:checked ~ .form-checkbox-icon {
                    border: 1px solid $green;
                }
                &:checked ~ .form-checkbox-text {
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
    &-checkbox-2 {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        &:not(:last-child) {
            margin-bottom: 13px;
        }
        & input {
            display: none;
            &:checked ~ .form-checkbox-icon {
                & img {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.was-validate:invalid ~ .form-checkbox-icon {
                border: 1px solid red;
            }
        }
        & .form-checkbox-icon {
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 13px;
            height: 13px;
            width: 13px;
            border: 1px solid #6EB44A;
            background-color: $white;
            transition: 0.3s ease;
            & img {
                width: 9px;
                height: 9px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease;
            }
        }
        & .form-checkbox-text {
            margin-left: 13px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #1C1C1C;
            transition: 0.3s ease;
            & a {
                transition: 0.3s ease;
                text-decoration: underline;
                &:hover {
                    color: $green;
                }
            }
        }
        &-big {
            & .form-checkbox-icon {
                margin-top: 3px;
            }
            & .form-checkbox-text {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    &-field-select {
        display: block;
        width: 100%;
        padding: 0 23px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 38px;
        color: #8a8a8a;
        outline: none;
        box-shadow: none;
        border: none;
        background: #FAFAFA;
        border-radius: 0;
        border: 1px solid #FAFAFA;
        transition: 0.3s ease;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: 0s ease;
        background-image: url('../images/aroww-dd.svg');
        background-position: top 17px right 19px;
        background-size: 13px 7px;
        background-repeat: no-repeat;
        @media (max-width: 992px) {
            line-height: 33px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
        }
        &:hover,
        &:focus {
            border: 1px solid $green;
        }
        &::-webkit-input-placeholder {
            color: #AFAFAF;
        }
        &::-moz-placeholder {
            color: #AFAFAF;
        }
        &:-ms-input-placeholder { 
            color: #AFAFAF;
        }
        &:-moz-placeholder {
            color: #AFAFAF;
        }
        &.was-validate:invalid {
            border: 1px solid  red;
        }
        
    }
    &-row {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-flow: row wrap;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
        &-column,
        & .form-field {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        & .form-field-select,
        & .form-field-textarea {
            margin-bottom: 20px;
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
        & .form-field-select {
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        &-pad {
            padding: 15px 17px;
            background: #FBFBFB;
            & h4 {
                margin-bottom: 9px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #000000;
            }
            & p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                color: rgba(28, 28, 28, 0.58);
                &:not(:last-child) {
                    margin-bottom: 9px;
                }
            }
            & .form-checkbox {
                &:not(:last-child) {
                    margin-bottom: 13px;
                }
                & .form-checkbox-text {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            & .btn {
                width: 100%;
                max-width: 174px;
            }
        }
    }
}


.input__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    & .input__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    & .input__file-icon-wrapper {
      height: 16px;
      width: 17px;
      margin-right: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
   
    & .input__file-button-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #6EB44A;
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 12px;
        }
    }
    & .input__file-button {
        width: 100%;
        height: 40px;
        background: transparent;
        border: 1px solid #6EB44A;
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #6EB44A;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 auto;
        @media (max-width: 767px) {
            height: 35px;
            font-size: 12px;
            line-height: 12px;
        }
    }
}


.pagination {
    padding-top: 20px;
    &-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        min-width: 55px;
        height: 55px;
        border: 1px solid $green;
        background-color: #FFFFFF;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            width: 35px;
            min-width: 35px;
            height: 35px;
        }
        @media (max-width: 767px) {
            width: 25px;
            min-width: 25px;
            height: 25px;
        }
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 19px;
            color: #6EB44A;
            transition: 0.3s ease;
            @media (max-width: 992px) {
                font-size: 14px;
                line-height: 14px;
            }
            @media (max-width: 767px) {
                font-size: 11px;
                line-height: 11px;
            }
        }
        & svg {
            @media (max-width: 992px) {
                width: 15px;
                height: 10px;
            }
            @media (max-width: 767px) {
                width: 10px;
                height: 7px;
            }
            & path {
                transition: 0.3s ease;
            }
        }
        &:hover {
            background-color: $green;
            & span {
                color: #FFFFFF;
            }
            & svg {
                & path {
                    fill: #FFFFFF;
                }
            }
        }
        &:not(:last-child) {
            margin-right: 20px;
            @media (max-width: 992px) {
                margin-right: 7px;
            }
            @media (max-width: 767px) {
                margin-right: 5px;
            }
        }
    }
}

.slider {
    &:not(:last-child) {
        margin-bottom: 90px;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &-top {
        width: 100%;
        margin-bottom: 13px;
        &-item {
            position: relative;
            display: block;
            width: 100%;
            max-height: 539px;
            overflow: hidden;
            &-video {
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 105px;
                    height: 105px;
                    background-image: url('../images/pls.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    @media (max-width: 992px) {
                        width: 46px;
                        height: 46px;
                    }
                }
            }
            &::before {
                content: "";
                display: block;
                padding-top: 43%;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }
    }
    &-bottom {
        width: calc(100% + 170px);
        margin: 0 -85px;
        padding: 0 85px;
        @media (max-width: 1200px) {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        & .owl-nav {
            & button {
                position: absolute;
                top: calc(50% - 27.5px);
                width: 55px;
                height: 55px;
                background: #6EB44A !important;
                transition: 0.3s ease;
                @media (max-width: 1200px) {
                    top: calc(50% - 10.5px);
                    width: 35px;
                    height: 35px;
                }
                &.disabled {
                    background: #2b2a2a !important;
                }
                & span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 13px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    font-size: 0;
                    line-height: 0;
                    @media (max-width: 1200px) {
                        width: 17px;
                        height: 10px;
                    }
                }
                &.owl-next {
                    right: 0;
                    @media (max-width: 1200px) {
                        right: -13px;
                    }
                    & span {
                        background-image: url('../images/arr-right.svg') !important;
                    }
                }
                &.owl-prev {
                    left: 0;
                    @media (max-width: 1200px) {
                        left: -13px;
                    }
                    & span {
                        background-image: url('../images/arr-left.svg') !important;
                    }
                }
            }
        }
        &-item {
            cursor: pointer;
            position: relative;
            display: block;
            width: 100%;
            height: 120px;
            min-height: 120px;
            max-height: 120px;
            overflow: hidden;
            @media (max-width: 599px) {
                height: 80px;
                min-height: 80px;
                max-height: 80px;
            }
            &-video {
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 46px;
                    height: 46px;
                    transform: translate(-50%, -50%);
                    display: block;
                    background-image: url('../images/pls.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    @media (max-width: 599px) {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            &::before {
                content: "";
                display: block;
                padding-top: 59%;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
            &-wrap {
                position: relative;
                margin-top: 15px;
                &::before {
                    content: '';
                    z-index: 3;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 5px solid $green;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s ease;
                }
                &::after {
                    content: '';
                    z-index: 3;
                    position: absolute;
                    top: -15px;
                    left: calc(50% - 15px);
                    display: block;
                    width: 30px;
                    height: 15px;
                    background-color: $green;
                    opacity: 0;
                    visibility: hidden;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    transition: 0.3s ease;
                }
            }
        }
        & .owl-item {
            &.active-2 {
                & .slider-bottom-item-wrap {
                    &::before,
                    &::after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}


.tabs {
    &-block {
        background: #FFFFFF;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
        margin-bottom: 50px;
        @media (max-width: 767px)  {
            margin-bottom: 30px;
        }
        & .tab-cnt {
            @media (min-width: 768px) {
                display: none !important;
                &.active {display: block !important;}
            }
            @media (max-width: 767px) {
                display: none;
                &.active {display: block;}
            }
            &-trigger {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 168px;
                transition: 0.3s ease;
                @media (max-width: 767px) {
                    position: relative;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 1px;
                    padding: 0 40px 0 25px;
                    background-color: $green;
                }
                & span {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 44px;
                    text-align: center;
                    color: #000000;
                    transition: 0.3s ease;
                    @media (max-width: 767px) {
                        position: static;
                        width: 100%;
                        justify-content: flex-start;
                        font-size: 16px;
                        line-height: 35px;
                        color: $white;
                    }
                    &::before {
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        margin-right: 13px;
                        background-color: $green;
                        transition: 0.3s ease;
                        @media (max-width: 767px) {
                            position: absolute;
                            top: calc(50% - 3px);
                            right: 20px;
                            width: 9px;
                            height: 6px;
                            background-image: url('../images/white-ar.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            background-color: transparent;
                        }
                    }
                }
                &.active {
                    @media (min-width: 1201px) {
                        background-color: $green;
                        & span {
                            color: $white;
                            &::before {
                                background-color: $white;
                                @media (max-width: 767px) {
    
                                }
                            }
                        }
                    }
                    & span {
                        &::before {
                            @media (max-width: 767px) {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                &:hover {
                    @media (min-width: 1201px) {
                        background-color: $green;
                        & span {
                            color: $white;
                            &::before {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    &-content {
        padding: 37px 22px;
        @media (max-width: 767px) {
            padding: 0;
            & .card-info-item {
                padding: 15px;
            }
        }
        & .tab-cnt-trigger {
            display: none;
            @media (max-width: 767px) {
                display: flex;
            }
        }
    }
    &-section  {
        display: flex;
        justify-content: flex-start;
        background: #FFFFFF;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
        @media (max-width: 767px) {
            display: none;
        }
    }
}
