// Edo

@font-face {
    font-family: 'Edo SZ';
    src: url('./fonts/edo/EdoSZHQ-Regular.woff2') format('woff2'),
        url('./fonts/edo/EdoSZHQ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
