.about {
    &-info {
        padding: 179px 0 175px;
        background-image: 
            url('../images/tr-1.png'), url('../images/tr-2.png'), url('../images/tr-3.png'), url('../images/tr-4.png');
        background-size: 
            1920px 110px, 1920px 110px, 364px 575px, 265px 532px;
        background-repeat: 
            no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 
            top left, bottom left, top 580px left, top 520px right;
        @media (max-width: 1400px) {
            padding: 139px 0 54px;
            background-image: url('../images/tr-1.png'), url('../images/tr-2.png');
            background-size: 100% 72px, 100% 72px;
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom left;
        }
        @media (max-width: 992px) {
            padding: 105px 0 40px;
        }
        @media (max-width: 767px) {
            padding: 61px 0 36px;
            background-size: 100% 35px, 100% 35px;
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 34px;
            padding: 0 52px;
            background-color: #FAFAFA;
            @media (max-width: 1400px) {
                padding: 0 38px;
            }
            @media (max-width: 992px) {
                margin-bottom: 14px;
                padding: 0 20px;
            }
            @media (max-width: 767px) {
                flex-flow: row wrap;
                justify-content: space-around;
                margin-bottom: 29px;
            }
            & span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 60px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 21px;
                text-align: center;
                color: #000000;
                @media (max-width: 992px) {
                    font-size: 16px;
                    line-height: 16px;
                }
                @media (max-width: 767px) {
                    margin: 0 10px;
                    min-height: 0;
                    padding: 10px 0;
                    font-size: 14px;
                    line-height: 14px;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    margin-right: 10px;
                    background-color: $green;
                }
            }
        }
        &-row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 110px;
            @media (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 39px;
            }
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            &.mb-30 {
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
            }
            &-text {
                width: 100%;
                max-width: 520px;
                &:first-child {
                    @media (min-width: 993px) {
                        margin-right: 10px;
                    }
                }
                &:last-child {
                    @media (min-width: 993px) {
                        margin-left: 36px;
                    }
                }
                @media (max-width: 1400px) {
                    max-width: 487px;
                }
                @media (max-width: 992px) {
                    order: 2;
                    margin: 0 0 0;
                    max-width: 100%;
                }
                & p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 19px;
                    line-height: 28px;
                    color: #000000;
                    @media (max-width: 992px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @media (max-width: 767px) {
                        font-size: 14px;
                        line-height: 22px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 29px;
                        @media (max-width: 992px) {
                            margin-bottom: 24px;
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 22px;
                        }
                    }
                    & > span {
                        position: relative;
                        display: inline-block;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 32px;
                        color: #000000;
                        @media (max-width: 992px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                        @media (max-width: 767px) {
                            font-size: 18px;
                            line-height: 32px;
                        }
                        & span {
                            position: relative;
                            z-index: 2;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            bottom: 2px;
                            right: -9px;
                            display: block;
                            width: 88px;
                            height: 8px;
                            background-color: $green;
                            @media (max-width: 992px) {
                                width: 44px;
                                height: 6px;
                                bottom: 3px;
                                right: -4px;
                            }
                            @media (max-width: 767px) {
                                width: 49px;
                                height: 7px;
                                bottom: 8px;
                                right: -4px;
                            }
                        }
                    }
                }
            }
            &-buttons {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: 767px) {
                    justify-content: space-between;
                }
                & .btn {
                    @media (max-width: 992px) {
                        max-width: 174px;
                    }
                    @media (max-width: 767px) {
                        width: calc(50% - 10px);
                        max-width: 100%;
                    }
                    &:not(:last-child) {
                        margin-right: 9px;
                        @media (max-width: 992px) {
                            margin-right: 15px;
                        }
                        @media (max-width: 767px) {
                            margin: 0;
                        }
                    }
                }
            }
            &-image {
                position: relative;
                display: block;
                width: 100%;
                max-width: 612px;
                @media (max-width: 1400px) {
                    max-width: 496px;
                }
                @media (max-width: 992px) {
                    max-width: 100%;
                    margin-bottom: 32px;
                }
                &::before {
                    content: "";
                    display: block;
                    padding-top: 66%;
                    @media (max-width: 992px) {
                        padding-top: 43%;
                    }
                }
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &-no {
                    &::before {
                        position: absolute;
                        z-index: 5;
                        top: -12px;
                        right: 34px;
                        padding: 0 !important;
                        width: 37px;
                        height: 37px;
                        background: $green;
                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                }
                &:not(:first-child) {
                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(100% - 11px);
                        right: -42px;
                        display: block;
                        width: 67px;
                        height: 57px;
                        background-image: url('../images/aaa1.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        @media (max-width: 1400px) {
                            display: none;
                        }
                    }
                }
                & .project-video-wrap {
                    padding: 0;
                    margin: 0;
                    & .project-video {
                        &::before {
                            padding-top: 66%;
                        }
                    }
                }
            }
            &-images {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                width: 100%;
                max-width: 609px;
                @media (max-width: 1400px) {
                    max-width: 496px;
                }
                @media (max-width: 992px) {
                    max-width: 100%;
                    margin-bottom: 32px;
                }
                &-img {
                    position: relative;
                    display: block;
                    width: calc(50% - 8px);
                    &::before {
                        content: "";
                        display: block;
                        padding-top: 152%;
                    }
                    & img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgba(110, 180, 74, 0.3);
                        transition: 0.3s ease;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &-2 {
                & .about-info-row-image {
                    &::before {
                        padding-top: 88%;
                    }
                }
                @media (min-width: 993px) {
                    margin-bottom: 68px;
                    & .about-info-row-image {
                        max-width: 508px;
                    }
                    & .about-info-row-text {
                        max-width: 596px;
                    }
                }
            }
            &-22 {
                margin-bottom: 0;
                & .about-info-row-image {
                    &::before {
                        padding-top: 64%;
                    }
                }
                @media (min-width: 993px) {
                    & .about-info-row-image {
                        max-width: 502px;
                    }
                    & .about-info-row-text {
                        max-width: 596px;
                    }
                }
            }
            &-3 {
                margin-bottom: 0;
                @media (min-width: 993px) {
                    & .about-info-row-text {
                        max-width: 520px;
                    }
                }
            }
            &-33 {
                margin-bottom: 30px;
                & .about-info-row-image {
                    &::before {
                        padding-top: 85%;
                    }
                }
                @media (min-width: 993px) {
                    & .about-info-row-image {
                        max-width: 510px;
                    }
                    & .about-info-row-text {
                        max-width: 559px;
                    }
                }
            }
            &-4 {
                & .about-info-row-image {
                    &::before {
                        padding-top: 113%;
                    }
                }
                @media (min-width: 993px) {
                    margin-bottom: 109px;
                    & .about-info-row-image {
                        max-width: 520px;
                    }
                    & .about-info-row-text {
                        max-width: 600px;
                    }
                }
            }
            &-shadow {
                align-items: center;
                & .about-info-row-image {
                    width: 100%;
                    max-width: 548px;
                    &::before {
                        padding-top: 71%;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(100% - 20px);
                        left: 14px;
                        display: block;
                        width: 67px;
                        height: 57px;
                        background-image: url('../images/fds.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                }
                & .about-info-row-text {
                    width: 100%;
                    max-width: 591px;
                    padding: 22px 32px 25px;
                    background: #FFFFFF;
                    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
                    margin: 0;
                    @media (max-width: 992px) {
                        max-width: 100%;
                        padding: 15px 10px;
                    }
                    & p {
                        font-weight: 400;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }
                &-2 {
                    margin-bottom: 42px;
                    & .about-info-row-image {
                        width: 100%;
                        max-width: 416px;
                        &::before {
                            padding-top: 120%;
                        }
                        &::after {
                            display: none;
                        }
                    }
                    & .about-info-row-text {
                        width: 100%;
                        max-width: 668px;
                        padding: 22px 32px 25px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
                        margin: 0;
                        @media (max-width: 992px) {
                            max-width: 100%;
                            padding: 15px 10px;
                        }
                        & p {
                            font-weight: 400;
                            &:not(:last-child) {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
        &-bnfs{
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            @media (max-width: 767px) {
                flex-flow: row wrap;
            }
            &::after {
                content: '';
                position: absolute;
                top: calc(100% + 11px);
                right: calc(100% + 10px);
                display: block;
                width: 40px;
                height: 48px;
                background-image: url('../images/aaa2.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @media (max-width: 1400px) {
                    display: none;
                }
            }
        }
        &-bnf {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 35px 15px 43px;
            width: calc((100% / 4) - 15px);
            background: #FFFFFF;
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
            @media (max-width: 1400px) {
                width: calc((100% / 4) - 10px);
                padding: 32px 5px 20px;
            }
            @media (max-width: 992px) {
                padding: 11px 5px 18px;
                width: calc((100% / 4) - 8px);
            }
            @media (max-width: 767px) {
                width: calc(50% - 10px);
                padding: 40px 10px 17px;
                margin-bottom: 22px;
            }
            @media (max-width: 550px) {
                width: 100%;
            }
            &-layout {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
            &-icon {
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 72px;
                margin-bottom: 12px;
                @media (max-width: 1400px) {
                    height: 65px;
                    margin-bottom: 8px;
                }
                @media (max-width: 992px) {
                    height: 39px;
                    margin-bottom: 9px;
                }
                @media (max-width: 767px) {
                    height: 50px;
                    margin-bottom: 12px;
                }
                & img {
                    max-height: 72px;
                    @media (max-width: 1400px) {
                        max-height: 65px;
                    }
                    @media (max-width: 992px) {
                        max-height: 39px;
                    }
                    @media (max-width: 767px) {
                        max-height: 50px;
                    }
                }
            }
            & h3 {
                position: relative;
                z-index: 1;
                width: 100%;
                margin-bottom: 14px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 32px;
                text-align: center;
                color: #000000;
                @media (max-width: 1400px) {
                    margin-bottom: 12px;
                    font-size: 18px;
                    line-height: 32px;
                }
                @media (max-width: 992px) {
                    margin-bottom: 6px;
                    font-size: 11.2756px;
                    line-height: 19px;
                }
                @media (max-width: 767px) {
                    margin-bottom: 7px;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            & p {
                position: relative;
                z-index: 1;
                margin-bottom: 33px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: #000000;
                @media (max-width: 992px) {
                    margin-bottom: 15px;
                    font-size: 12px;
                    line-height: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            & .btn {
                position: relative;
                z-index: 1;
            }
        }
    }
    &-page {
        &-cnt {
            & .info-block {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                & ul {
                    @media (min-width: 993px) {
                        columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        & .contact-us-block {
            @media (min-width: 993px) {
                padding-top: 30px;
            }
        }
    }
    &-row {
        padding: 90px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 992px) {
            padding: 40px 0;
        }
        &-cnt {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: 992px) {
                flex-direction: column;
                align-items: center;
            }
        }
        &-item {
            width: calc(50% - 10px);
            @media (max-width: 992px) {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            &-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 44px;
                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    & .title {
                        margin-bottom: 30px;
                        text-align: center;
                    }
                }
                & .btn {
                    width: 174px;
                    min-width: 174px;
                    margin-left: 15px;
                }
            }
            &-title {
                margin-bottom: 0;
            }
            &-img {
                position: relative;
                display: block;
                width: 100%;
                min-height: 235px;
                max-height: 235px;
                @media (max-width: 992px) {
                    min-height: 192px;
                    max-height: 192px;
                }
                @media (max-width: 500px)  {
                    min-height: 144px;
                    max-height: 144px;
                }
                &::before {
                    content: "";
                    display: block;
                    padding-top: 42%;
                }
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(110, 180, 74, 0.3);
                    transition: 0.3s ease;
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}