.production {
    &-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-flow: row wrap;
        @media (max-width: 992px) {
            justify-content: flex-start;
            width: calc(100% + 40px);
            margin-left: -20px;
            padding-left: 20px;
        }
        @media (max-width: 600px) {
            justify-content: space-between;
            width: 100%;
            margin-left: 0;
            padding-left: 0;
        }
    }
    &-item {
        position: relative;
        display: block;
        min-height: 360px;
        width: calc((100% / 4) - 15px);
        margin-bottom: 20px;
        background: #C4C4C4;
        border-radius: 10px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 1400px) {
            min-height: 300px;
        }
        @media (max-width: 992px) {
            width: calc((100% / 3) - 20px);
            margin: 0 20px 20px 0;
        }
        @media (max-width: 600px) {
            min-height: 260px;
            width: calc((100% / 2) - 15px);
            margin: 0 0 20px;
        }
        @media (max-width: 440px) {
            min-height: 220px;
            width: 100%;
        }
        &-2 {
            @media (min-width: 1401px) {
                width: calc((100% / 3) - 15px);
            }
        }
        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(16.1deg, rgba(110, 180, 74, 0.7) 5.2%, rgba(110, 180, 74, 0.7) 85.84%);
            transition: 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(16.53deg, rgba(50, 51, 56, 0.7) 5.21%, rgba(50, 51, 56, 0) 85.73%);
            transition: 0.3s ease;
        }
        &-link {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 55px;
            height: 55px;
            transition: 0.3s ease;
            opacity: 0;
            visibility: hidden;
            @media (max-width: 1400px) {
                width: 45px;
                height: 45px;
            }
            @media (max-width: 600px) {
                width: 35px;
                height: 35px;
            }
            & img {
                width: 100%;
            }
        }
        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            display: block;
            padding: 15px 5px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            @media (max-width: 1400px) {
                font-size: 18px;
                line-height: 22px;
            }
            @media (max-width: 992px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media (max-width: 600px) {
                font-size: 14px;
                line-height: 19px;
            }
            & > span {
                position: relative;
                display: inline-block;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: -6px;
                    display: block;
                    width: 60%;
                    height: 6px;
                    background-color: $green;
                }
                & span {
                    position: relative;
                    z-index: 2;
                }
            }
        }
        &:hover {
            &::before,
            & .production-item-link {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &-listing {
        display: block;
        width: 100%;
        &-wrap {
            width: 100%;
            max-width: 850px;
            &:first-child {
                &:last-child{
                    width: 100%;
                    max-width: 100%;
                    & .production-listing-item-info {
                        width: calc(100% - 10px);
                        justify-content: flex-start;
                        margin-left: -5px;
                    }
                    & .pr,
                    & .pr-gray {
                        max-width: 175px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
            @media (max-width: 992px) {
                max-width: 100%;
            }
            & .btn {
                display: block;
                width: 100%;
                max-width: 174px;
                margin: 25px auto 0;
            }
        }
        &-item {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 20px;
            padding: 24px 24px 15px;
            background: #FFFFFF;
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
                padding: 15px;
            }
            &-img {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-height: 264px;
                max-height: 264px;
                max-width: 246px;
                overflow: hidden;
                margin-right: 24px;
                @media (max-width: 767px) {
                    margin: 0 0 20px;
                }
                @media (max-width: 500px) {
                    min-height: 200px;
                    max-height: 200px;
                    max-width: 246px;
                }
                &::before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.4s ease;
                }
                &-hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: translateX(100%);
                }
                &:hover {
                    & .production-listing-item-img-hover {
                        transform: translateX(0);
                    }
                }
            }
            &-cnt {
                width: 100%;
                & p {
                    margin-bottom: 19px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 19px;
                    color: #000000;
                    @media (max-width: 1400px) {
                        font-size: 12px;
                        line-height: 16px;
                        & br {
                            display: none;
                        }
                    }
                    &.small {
                        margin-bottom: 10px;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                & h4 {
                    margin-bottom: 3px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    @media (max-width: 767px) {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
            &-title {
                display: block;
                margin-bottom: 3px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 32px;
                color: #000000;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 26px;
                }
                & > span {
                    position: relative;
                    display: inline-block;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 7px;
                        right: -18px;
                        display: block;
                        width: 81%;
                        height: 6px;
                        background-color: $green;
                    }
                    & span {
                        position: relative;
                        z-index: 2;
                    }
                }
            }
            &-info {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }
}

.pr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc((100% / 3) - 5px);
    margin-bottom: 14px;
    @media (max-width: 1400px) {
        width: calc((100% / 2) - 15px);
    }
    @media (max-width: 767px) {
        width: calc((100% / 3) - 5px);
    }
    @media (max-width: 550px) {
        width: calc((100% / 2) - 15px);
    }
    &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
        margin-right: 9px;
        @media (max-width: 410px) {
            width: 15px;
            min-width: 15px;
            max-width: 15px;
            margin-right: 5px;
        }
        & img {
            max-width: 100%;
        }
    }
    &-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        @media (max-width: 410px) {
            font-size: 8px;
            line-height: 12px;
        }
    }
    &-subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        @media (max-width: 410px) {
            font-size: 8px;
            line-height: 12px;
        }
    }
    &-gray {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc((100% / 3) - 5px);
        margin-bottom: 18px;
        padding: 6px 10px;
        background: #EAEAEA;
        border-radius: 3px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        @media (max-width: 1400px) {
            width: calc((100% / 2) - 15px);
        }
        @media (max-width: 767px) {
            width: calc((100% / 3) - 5px);
        }
        @media (max-width: 550px) {
            width: calc((100% / 2) - 15px);
        }
        @media (max-width: 410px) {
            padding: 3px 5px;
            font-size: 8px;
            line-height: 12px;
        }
    }
}