.experts {
    display: block;
    width: 100%;
    max-width: 270px;
    @media (max-width: 992px) {          
        max-width: 100%;
    }
    &-cnt {
        padding: 22px 16px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        @media (max-width: 992px) {   
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-flow: row wrap;                 
            padding: 10px;
        }
    }
}

.expert {
    position: relative;
    padding: 16px 13px 16px 17px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    @media (max-width: 992px) {     
        width: calc(50% - 10px); 
        padding: 10px 10px 10px 10px;
    }
    @media (max-width: 992px) {
        width: 100%;
    }
    & * {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        max-width: 78px;
        height: 78px;
        background: #F9F9F9;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
    &:not(:last-child) {
        margin-bottom: 30px;
        @media (max-width: 992px) {      
            margin-bottom: 20px;
        }
    }
    &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 9px;
        &-left {
            width: calc(100% - 55px);
            margin-right: 5px;
        }
        & .news-blog-item-person {
            width: 100%;
            max-width: 51px;
            transform: none;
        }
    }
    &-title {
        display: block;
        margin-bottom: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: #000000;
        @media (max-width: 992px)  {
            font-size: 16px;
            line-height: 20px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 18px;
        }
    }
    &-date {
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        color: #6EB44A;
        @media (max-width: 767px) {
            font-size: 10px;
            line-height: 17px;
        }
    }
    &-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        & p {
            width: calc(100% - 30px);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 19px;
            color: #000000;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            overflow: hidden;
            -webkit-box-orient: vertical;
            @media (max-width: 992px) {
                width: calc(100% - 70px);
            }
            @media (max-width: 767px) {
                width: calc(100% - 40px);
                font-size: 11px;
                line-height: 16px;
            }
        }
        & .expert-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23px;
            transform: translate(2px, 4px);
            & img {
                width: 23px;
            }
        }
    }
}